.input-group-addon {
    min-width:10em;// if you want width please write here //
    text-align:left;
}


.botton_button {
	padding: 1em 0em; //(top and bottom) (right and left )
}

.hiddenRow {
    padding: 3px ;
}

.align {
display: inline-block;
width: 10em;
}

.row{
	padding: 30px 0px;
}

.text-muted{
	padding: 0px 5px;
}