.input-group-addon {
    min-width:10em;// if you want width please write here //
    text-align:left;
}

/*.setting_page {
	padding: 0px 50px 0px; //top (right,left) bottom
}*/

.botton_button {
	padding: 1em 0em; //(top and bottom) (right and left )
}